<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Bem-vindo ao Facebook!</p>

      <p>A criação de uma nova senha está quase pronta, clique no botão abaixo para cria-lá.</p>

      <a href="{{link}}" target="_blank" class="button">Criar Nova Senha</a>
    </div>
  </body>
</html>